.home{
    /* background-color: lavender; */
    height:615px;
}
.btn-edt{
    background-color: cornsilk;
}
.btn-dlt{
    background-image: url(https://img.freepik.com/premium-vector/abstract-texture-background-trendy-spring-hue-pale-green-happy-easter-summer-season-springtime_498312-575.jpg);
}
