.div-form {
  padding-top: 14rem;
  background-image: url(https://img.freepik.com/premium-vector/abstract-texture-background-trendy-spring-hue-pale-green-happy-easter-summer-season-springtime_498312-575.jpg);
  display: flex;
  width: 1000px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: grid;
  place-items: center;
  margin-left: 300px;
}
#edt-prfl {
    margin-left: 20px;
  gap: 70px;
  text-align: center;
}
.edit-rooms-title {
  margin-bottom: 20px; /* Atur jarak bawah sesuai kebutuhan */
}
#id-edt {
}
.slowmotion{
    margin-left: 1000px;
}

