#id{
  width: 360px;
  margin-left: 300px;
  background-color: rgba(141, 115, 150, 0.911);
  margin-bottom: 200px;
}
.vid{
  background-color: rgb(214, 199, 255);
  width: auto;
  height: 600px;
  
}
/* #navbar{
  background-color: rgb(153, 161, 169);
} */
 .home{
   background-color: lavender; 
  background-image: url(https://i.pinimg.com/originals/58/a6/e7/58a6e7b3ecabd9ed07cd833dc9de40af.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 760px ;
}
h1{
 font-family: monospace;
}
.marquee{
  display: flex;
  font-size: 25px;
  font-family: 'Bebas Neue', sans-serif;}

