.btn-edt{
    background-color: aqua;
    gap: 50px;
    border-radius: 10px;
}
.btn-dlt{
    border-radius: 10px;
    background-color: red;
}
.div-frgmnt{
    padding-top: 10rem;
}
.edt-dlt{
    gap: 50px;
    border-radius: 10px;
}