#id{
  width: 360px;
  margin-left: 300px;
  background-color: rgba(141, 115, 150, 0.911);
  margin-bottom: 200px;
}
.vid{
  background-color: lavender;
  width: auto;
  height: 600px;
  
}
/* #navbar{
  background-color: rgb(153, 161, 169);
} */
.home{
  background-color: lavender;
}
h1{
 font-family: monospace;
}
