.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  animation: App-logo-spin infinite 10s linear;

}
/* Profile.css */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .profile-container {
    margin-bottom: 20px;
  } */

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-group {
  width: 100%;
  max-width: 600px; /* Sesuaikan dengan lebar maksimum yang diinginkan */
  margin-bottom: 15px;
}

.control-label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  height: 40px; /* Sesuaikan dengan tinggi yang diinginkan */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.profile-container {
  padding-left: 0px;
  margin-right: 1170px;
  margin-bottom: 25px;
  
}
/* Profile.css */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://marketplace.canva.com/EAFObeTclvs/1/0/1600w/canva-green-abstract-watercolor-and-leaf-desktop-wallpaper-JGJuIYI27iM.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  max-width: 600px;
  margin-bottom: 15px;
  text-align: center; /* Tengahkan teks */
}

.control-label {
  margin-bottom: 5px;
  display: block;
}

.form-control {
  width: 100%;
  height: 40px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  
}

.panel-body {
  width: 100%;
}

#t {
  margin-left: 280px;
  padding-top: 10px;
}
#f {
  margin-left: 300px;
  margin-top: 20px;

}
#y {
  margin-left: 300px;
}
#nav {
  display: flex;
  gap: 0px;
}
button {
  background-color: lightgray;
}
#id-h1 {
  padding-bottom: 20px;
}
.nm-nv {
  width: 400px;
}
.panel-body-EDT {
  padding: 0px;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: lightgreen; */
}
.form-group-edt {
  /* background-color: lightgreen; */
}
#a{
  margin-left:198px ;
  padding-bottom: 100px;
}
#b{
  margin-left: 198px;
  margin-top: 35px;
}
#c{
  margin-left: 200px;
  margin-top: 25px;
}
.split{
  width: 70px;
}
.class-h1{
  background-color: rgb(184, 233, 184);
}
.custom-modal{
background-image: url(https://img.freepik.com/premium-photo/ethereal-beauty-abstract-blurred-mint-color-background-banner-design_954894-1506.jpg);}

