.App {
  text-align: center;
  /* background-color: lavender; */
  background-image: url(https://img.freepik.com/premium-vector/abstract-texture-background-trendy-spring-hue-pale-green-happy-easter-summer-season-springtime_498312-575.jpg);
background-repeat: no-repeat;
background-size:cover ;
height: 760px;
}
.home{
  /* background-color: lavender; */
  background-image: url(https://marketplace.canva.com/EAE6AqbjNik/1/0/1600w/canva-green-desktop-wallpaper-illustration-floral-flower-oKOZB8ly8Vg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #53daff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
